<div class="toolbar" role="banner" style="background-color:grey">
  <div class="row">
    <div class="col-xs-3" style="text-align: center;">
      <img width="120" alt="Angular Logo" src="/assets/yumlogo.PNG" />
    </div>
    <div class="col-xs-8 slogan">
      <h2 class="display-5"><em><b><q>A place where food speaks with your plate</q></b></em></h2>
    </div>


  <div class="dropdown">
    <button class="btn btn-warning dropdown-toggle" type="button" id="btnDropdownDemo" data-toggle="dropdown"
      aria-haspopup="true" aria-expanded="false">
      Filter By
    </button>
    <div class="dropdown-menu" aria-labelledby="btnDropdownDemo">
      <a class="dropdown-item" href="#">High to Low</a>
      <a class="dropdown-item" href="#">Low to High</a>
    </div>
  </div>




    <div class="container justify-content-center">
      <div class="col-xs-6">
        <div class="input-group mb-3"> <input type="text" class="form-control input-text"
            placeholder="Search products...." aria-label="Recipient's username" aria-describedby="basic-addon2">
          <div class="input-group-append"> <button class="btn btn-outline-warning btn-lg" type="button"><i
                class="fa fa-search"></i></button> </div>
        </div>
      </div>
    </div>
  </div>
